@model MoitePari.BusinessLogic.Models.RepaymentPlan

<h2>План за изплащане</h2>
<ul>
  <li>Главница: @Model.Principal</li>
  <li>Обща лихва: @Model.TotalInterest</li>
  <li>Такса: @Model.FeeAmount</li>
  <li><strong>Нетна изплатена сума:</strong> @Model.NetPayout</li>
</ul>

<a asp-action="Index">Назад към каталога</a>
